{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<footer>
  <div class="footer_info">
    <div class="footer_about">
      <h1>About</h1>
      <p>Solutions</p>
      <p>The Code</p>
      <p>ColorADD Social</p>
    </div>
    <div class="footer_office">
      <h1>Office</h1>
      <p>Rua de Miguel Bombarda, 93</p>
      <p>4050-381 Porto, Portugal</p>
    </div>
    <div class="footer_contact">
      <h1>Contact</h1>
      <p>+351 917 526 446</p>
      <p>+351 229 372 053</p>
      <p>info@coloradd.net</p>
    </div>
  </div>
  <div class="footer_sep"> </div>

  <div class="footer_social">
    <a href="https://www.facebook.com/ColorADDoficial/" target="_blank"><img src="{% static 'img/fb.png' %}" width="3%"></a>
    <a href="https://www.linkedin.com/company/coloradd/" target="_blank"><img src="{% static 'img/lkin.png' %}" width="3%"></a>
    <a href="https://twitter.com/coloraddoficial" target="_blank"><img src="{% static 'img/tt.png' %}" width="3%"></a>
    <a href="https://www.instagram.com/coloradd_oficial/" target="_blank"><img src="{% static 'img/insta.png' %}" width="3%"></a>
  </div>

</footer>
</html>
