nav a {
  color: #666363;
}

/*----------------------INTRO------------------------*/
#midia_header {
  height: auto;
  padding-bottom: 8%;
}

.midia_title {
  padding-top: 130px;
  padding-left: 80px;
}

.midia_title h1 {
  position: absolute;
  font-family: Open Sans;
  font-weight: 800;
  font-size: 70px;
  line-height: 95px;
  margin-top: -30px;
  color: rgba(0, 0, 0, 0.06);
}

.midia_title h3::after {
  display: block;
  content: '';
  width: 8%;
  height: 4px;
  background: #FFCF26;
  margin-top: 4px;
}

.midia_title h3 {
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
}

.header_img {
  margin: 6% 0 0 10%;
  position: relative;
  width: 100%;
}

.header_img img {
  width: 80%;
  object-fit: cover;
  height: 450px;
}

.header_text {
  position: absolute;
  margin: 0 40% 0 2%;
  bottom: 10%;
  color: #fff;
}

.header_text h2 {
  font-size: 2em;
}

.header_text p {
  font-weight: lighter;
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  .midia_title {
    padding-top: 80px;
    padding-left: 40px;
  }

  .midia_title h1 {
    font-size: 32px;
    margin-top: -15px;
  }

  .midia_title h3 {
    font-size: 20px;
  }

  .midia_title h3::after {
    margin-top: -25px;
  }

  .header_text {
    margin: 2% 30% 0 0;
    color: #000;
    position: relative;
  }

  .header_text h2 {
    font-size: 1.2em;
  }

  .header_text p {
    margin-top: 2%;
    font-size: 0.8em;
  }
  .header_img img {
    margin-top: 2%;
    width: 80%;
    object-fit: cover;
    height: 200px;
  }
}

/*----------------------NEWS------------------------*/
#midia_news {
  height: auto;
  margin: 6% 0;
}

.news_container {
  margin: 0 10%;
  position: relative;
}

.new {
  display: flex;
}

.new img {
  object-fit: cover;
  width: 50%;
  height: 350px;
}

.new_text {
  width: 47%;
  word-wrap: break-word;
  margin-left: 3%;
}

@media screen and (max-width: 700px) {
  .news_container {
    margin-top: 2%;
  }

  .new {
    display: block;
  }

  .new img {
    width: 100%;
    height: 150px;
  }

  .new_text {
    width: 100%;
    word-wrap: break-word;
  }

  .new_text p {
    font-size: 12px;
  }
}
